# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Pods/
android/.gradle/
android/captures/
android/local.properties
android/**/gradle-wrapper.jar
android/**/GeneratedPluginRegistrant.java

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
android/key.properties
android/app/keystore.jks
